<div id="<%= dom_id user %>">
  <p>
    <strong>Title:</strong>
    <%= user.title %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= user.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= user.end_date %>
  </p>

  <p>
    <strong>All day:</strong>
    <%= user.all_day %>
  </p>

  <p>
    <strong>Schedule:</strong>
    <%= user.schedule %>
  </p>

</div>
